/**
 * build.config
 * Generated for: feat: add configuration templates

- Create package.json templates
- Implement tsconfig templates
- Add build configuration templates
- Set up environment templates
 * File type: .template
 */

export default {};
