/**
 * README.md
 * Generated for: feat: create documentation templates

- Implement README templates
- Add API documentation templates
- Create changelog templates
- Set up contributing guidelines
 * File type: .template
 */

export default {};

// Updated: 2026-01-20 23:51:14 - docs(templates/docs): implement documentation templates
